@charset "utf-8";

body {
    font-family: "Noto Sans KR", serif;
    /* font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; */
}


#container {
    width: 98%;
    margin: 0 auto;
}
header {
    position: relative;
}
header > .logo {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-items: center;
    top:50px;
}
header > .menu {
    position: absolute;
    display: flex;
    width: 50px;
    right: 295px;
    top:135px;
    z-index: 10;
}
header > .menu > ul {
    display: flex;
}
header > .menu > ul > li {
    margin-left: 50px;
}
header > .menu > ul > li img {
    width: 30px;
}
header > nav {
    display: flex;
    position: absolute;
    top:200px;
    width: 100%;
    z-index: 10;
}
header > nav > ul {
    align-content: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    padding: 15px;
    
}
header > nav > ul > li {
    display: flex;
    gap: 60px;
}

header > nav > ul > li a {
    overflow: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: color .4s;
    transition: color .4s
  }
  
  @keyframes eff24-move {
    30% {
      -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
      transform: translate3d(0, -5px, 0) rotate(5deg)
    }
    50% {
      -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
      transform: translate3d(0, -3px, 0) rotate(-4deg)
    }
    80% {
      -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
      transform: translate3d(0, 0, 0) rotate(-3deg)
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
    }
  }
  
  header > nav > ul > li a:hover {
    -webkit-animation-name: eff24-move;
    animation-name: eff24-move;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
  }








header > nav > ul > li:first-child {
    color: red;
}
#wrap {
    position: relative;
}
#wrap > .visual > .mainvisual {
    position: absolute;
    top:270px;
    overflow: hidden;
}
.bxslider {
}
#wrap > .visual > .mainvisual  img {
    width: 100%;
}
#wrap > .visual > .mainitem {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    align-content: center;
    justify-content: center;
    top: 1050px;
}
#wrap > .visual > .mainitem > ul {
    display: flex;
}
#wrap > .visual > .mainitem > ul > li {
    margin-left: 40px;
}
#weekly {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
#weekly > .weekly_item {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-items: center;
    top:1150px
}
#weekly > .weekly_item > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
#weekly > .weekly_item > p {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    margin-bottom: 20px;
    text-align: center;
}
#weekly > .weekly_item > .tabpager {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    justify-content: space-around;
}
#weekly > .weekly_item > .tabpager > a {
    margin-left: 50px;
}
#weekly > .weekly_item > .tabpager > a:hover {
    border: 2px solid #9f9f9f85;
    border-radius: 2px;
    width: 48px;
    background-color: #9f9f9f85;
}
#weekly > .weekly_item > .tabpager > a:active {
    border: 2px solid #808080;
    border-radius: 2px;
    width: 48px;
    background-color: #808080;
}
#weekly  img {
    width: 280px;
}
#itemlist {
    display: flex;
    position: relative;
}
#itemlist > .weekly-top, .weekly-bottom {
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 1260px;
    align-content: center;
    justify-content: center;
}
#itemlist > .weekly-top   div {
    padding-top: 10px;
}
#itemlist > .weekly-bottom   div {
    padding-top: 10px;
}
#itemlist > .weekly-bottom {
    top: 1700px;
    right: -3px;
}
#itemlist  h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#itemlist  p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
#itemlist  .banner {
    font-size: 13px;
    text-align: center;
    color: #808080;
}
#itemlist  .banner-txt {
    color: red;
    font-size: 13px;
    font-weight: 500;
    text-align: center;

}
#arrivevals {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
#arrivevals > .arr-wrap {
    position: absolute;
    width: 100%;
    top: 2200px;
    align-items: center;
    justify-items: center;
}
#arrivevals > .arr-wrap > .arr-top > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
#arrivevals > .arr-wrap > .arr-top > p {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 80px;
}
#arrivevals > .arr-wrap > .slider {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    width: 100%;
    overflow: hidden;
}


.slide-list {
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
    max-width: 100%;
}

.slide {
    box-sizing: border-box;
    min-width: 25%; /* 각 슬라이드가 전체 너비를 차지하도록 설정 */
}
#arrivevals > .arr-wrap > .slider  ul {
    display: flex;
}
#arrivevals  img {
    width: 280px;
}
#arrivevals > .arr-wrap > .slider  div {
    padding-top: 10px;
}
#arrivevals > .arr-wrap > .slider  h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#arrivevals > .arr-wrap > .slider  p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
#arrivevals > .arr-wrap > .slider  p > span {
    text-decoration: line-through;
    color: #808080;
}
#arrivevals > .arr-wrap > .slider  .banner-txt2 {
    color: blue;
    font-weight: 500;
}
#arrivevals > .arr-wrap > button {
    padding: 10px;
}
button.prev {
    position: absolute;
    left: 20px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
button.prev:active {
    transform: translateY(-50%) scale(0.95); /* 버튼 크기 약간 축소 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 감소 */
}
button.next {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    padding: 13px;
    z-index: 10;
    border-radius:10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
/* 버튼 클릭 시 */
button.next:active {
    transform: translateY(-50%) scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.made {
    position: relative;
}
.made > .subvisual {
    position: absolute;
    top:2830px;
}.made > .subvisual > .sub-img > a img {
    width: 100%;
}
.made-item {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.made-item > .made-in {
    position: absolute;
    align-items: center;
    justify-items: center;
    width: 100%;
    top:3610px;
}
.made-item > .made-in > .made-txt {
    padding: 80px;
    
}

.made-item > .made-in > .made-txt > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 80px;
}
.made-item > .made-in > .made-txt > .madeslide {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
}
.made-item > .made-in > .made-txt > .madeslide  ul {
    display: flex;
}
.made-item > .made-in > .made-txt > .madeslide  img {
    width: 280px;
}
.made-item > .made-in > .made-txt > .madeslide  h3 {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.made-item > .made-in > .made-txt > .madeslide  p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
.made-item > .made-in > .made-txt > .madeslide  .banner {
    font-size: 13px;
    text-align: center;
    color: #808080;
}
.made-item > #BTN {
    padding: 20px;
}
button#prev {
    position: absolute;
    top:3950px;
    left: 20px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
    border-radius: 10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
button#prev:active {
    transform: translateY(-50%) scale(0.95); /* 버튼 크기 약간 축소 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 감소 */
}
button#next {
    position: absolute;
    top:3950px;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
    border-radius:10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
/* 버튼 클릭 시 */
button#next:active {
    transform: translateY(-50%) scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#best {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#best > .best-wrap {
    position:absolute;
    top:4160px;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding-top: 80px;
    text-align: center;
}
#best > .best-wrap > .best-top > h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#best > .best-wrap > .best-top > p {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    margin-bottom: 80px;
}
#best > .best-wrap > .bestitem-top {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}
#best > .best-wrap > .bestitem-top  ul {
    display: flex;
}
#best > .best-wrap > .bestitem-top  h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px
}
#best > .best-wrap > .bestitem-top  P {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
#best > .best-wrap > .bestitem-top  .banner {
    font-size: 13px;
    text-align: center;
    color: #808080;
}
#best > .best-wrap > .bestitem-top  .banner-txt {
    font-size: 13px;
    text-align: center;
    color: red;
}

#best > .best-wrap > .bestitem-bottom {
    display: flex;
    gap: 20px;
}
#best > .best-wrap > .bestitem-bottom  h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px
}
#best > .best-wrap > .bestitem-bottom  P {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
#best > .best-wrap > .bestitem-bottom  .banner-txt {
    font-size: 13px;
    text-align: center;
    color: red;
}

#best > .best-wrap > .bestitem-bottom  ul {
    display: flex;
}
#best > .best-wrap > .bestitem-top  ul > li > a img {
    width: 280px;
}
#best > .best-wrap > .bestitem-bottom  ul > li > a img {
    width: 280px;
}
#acc {
    width:1200px;
    margin: 0 auto;
    position: relative;
}
.acc-slide {
    overflow: hidden;
    position: relative;
    width: 100%; /* 슬라이더의 전체 너비 설정 */

}
.acc-slide > .accslider {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.accslide-list {
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
    max-width: 100%;
    display: flex;
}

.accslide {
    min-width: 25%; /* 각 슬라이드가 전체 너비를 차지하도록 설정 */
    box-sizing: border-box;
}


#acc > .acc-wrap {
    width: 100%;
    position: absolute;
    top:5210px;
    align-items: center;
    justify-items: center;
    padding-top: 80px;
    text-align: center;
}
#acc > .acc-wrap  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 80px;
}
#acc > .acc-wrap > .acc-slide {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 100%;
}
#acc > .acc-wrap > .acc-slide > ul {
    display: flex;
}
#acc > .acc-wrap > .acc-slide   h3 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px
}
#acc > .acc-wrap > .acc-slide   p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}
#acc > .acc-wrap > .acc-slide  li  a img {
    width: 280px;
}
#accbtn {
    padding: 20px;
}
button#accbtnprev {
    background-color: #808080;
    position: absolute;
    top:5550px;
    left: 20px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
    border-radius: 10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
button#accbtnprev:active {
    transform: translateY(-50%) scale(0.95); /* 버튼 크기 약간 축소 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 감소 */
}
button#accbtnnext {
    position: absolute;
    top:5550px;
    right:30px;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
    border-radius:10%;
    border: 2px solid rgba(255, 255, 255, 0.307);
    background-color: rgba(255, 255, 255, 0.307);
}
/* 버튼 클릭 시 */
button#accbtnnext:active {
    transform: translateY(-50%) scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#review {
}
#review > .re-wrap {
    position: absolute;
    width: 100%;
    top:6020px;
    padding-top: 80px;
    align-items: center;
    justify-items: center;
}
#review > .re-wrap  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 80px;
}
#review > .re-wrap > .review-slider {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    overflow: hidden;
    
}
#review > .re-wrap > .review-slider  ul {
    display: flex;
    text-align: start;
}
#review > .re-wrap > .review-slider    h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}
#review > .re-wrap > .review-slider    p {
    font-size: 12px;
    margin-bottom: 20px;
    
}
#review > .re-wrap > .review-slider    .user-name {
    font-weight: bold;
    border-bottom: 2px solid #808080;
    width: 100%;
    padding-bottom: 5px;
}
#review > .re-wrap > .review-slider  ul > li > div > .intxt > .user-name span {
    margin-left: 16px;
    color: #808080;
}
#review > .re-wrap > .review-slider  ul > li > div > .intxt > .user-name .point{
    margin-left: 60px;
}
#review > .re-wrap > .review-slider  ul > li > a img { 
    width: 280px;
}

#review > .re-wrap > .review-slider  ul > li > div  .headicon  img {
    width: 50px;
    border: 2px solid #222;
    border-radius: 50%;
    background-color: #fff;
}
#review > .re-wrap > .review-slider  ul > li > div  .headicon  span {
    margin-left: 8px;
    font-size: 13px;
    font-weight: 500;
    bottom: 17px;
    position: relative;
}

#foot {
    position: relative;
    top: 6480px;
    border-top: 2px solid #808080;
    width: 100%;

}
#foot > .foot-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    line-height: 2.1;
}
#foot > .foot-wrap > .foot3 > ul > li:hover {
    font-weight: bold;
}
#foot > .foot-wrap > .foot5 > ul > li:hover {
    font-weight: bold;
}
#foot > .foot-wrap  ul  h5 {
    font-size: 16px;
    font-weight: bold;
}
#foot > .foot-wrap  ul  p, a, span {
    font-size: 14px;
}
#foot > .foot-wrap > .foot2 > ul > form > select {
    padding: 5px;
    margin-bottom: 10px;
}
/* #aside-wrap {
    position: relative;
    top: 6200px;
    width: 100%;
    right: 10px;
    align-items: end;
    justify-items: end;
}
#aside-wrap > .aside-ww {
    position: sticky;
    position: -webkit-sticky;
    top:-60px;

} */
aside {
    position:fixed;
    bottom:80px;
    right:-10px;
}
aside li:first-child a {
    display:block;
    align-items:end;
    justify-content:end;
    margin-bottom: 10px;
}
#looknoneicon  a {
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:80px;
    height:80px;
    border-radius:40px;
    right: 25px;
}
aside li:last-child a {
    display:block;
    right: -10px;
    margin-top: 10px;
}
#looknoneicon img {
    width: 48px;
}















